@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMSysRealization</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMSysRealization.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                    <partial name="_LoginPartial" />
            </div>
        </nav>
        <nav class="collapse d-lg-block sidebar collapse bg-blue">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <a asp-controller="Courses" asp-action="Index">Courses</a>
                        <a asp-controller="Trainers" asp-action="Index">Trainers</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="CourseGroups" asp-action="Index">Course's Groups</a>
                        <a asp-controller="TrainerGroups" asp-action="Index">Trainer's Groups</a>
                        <a asp-controller="CoursesList" asp-action="Index">Courses List</a>
                        <a asp-controller="TrainersList" asp-action="Index">Trainers List</a>
                    }
                </div>
                </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CMSysRealization - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>